
img{
    width: 65px;
    height: 65px;
    margin: 10px;
    position: relative;
}

#company-name{
    margin-left: 100px;
    margin-top: -75px;
    margin-bottom: 5px;
    font-size: 15px;
    color: peru;
    position: relative;
}

#position{
    font-size: 1.1rem;
    font-weight: 1000;
    color: red;
    margin-left: 100px;
    padding-top: -31px;
    position: relative;
    cursor:hand;
}

#location{
    font-size: .8rem;
    color: green;
    margin-left: 100px;
    margin-top: -9px;
    position: relative;
}

