div{
    
}
#tj-page-content{
    height: 100%;
    width: 85%;
    margin-left: 15%;
    color: white;
    background: white;
}

#tj-sidebar-holder{
    height: 100%;
    width: 15%;
    position: fixed;
    background: greenyellow;
}
#tj-navbar-holder{
    height: 60px;
    background: palevioletred;
}