<app-nav-bar></app-nav-bar>
<div>
    <button>Add application</button>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Company Name</th>
            <th>Position</th>
            <th>Date Applied</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody >
        <tr>
            <td>Test Name</td>
            <td>Test Position</td>
            <td>Test Date</td>
            <td>Test Location</td>
            <td><button>View</button></td>
            <td><button>Delete</button></td>
        </tr>
        <ng-container *ngFor= 'let applic of applics'>
            <tr>
                <td>{{  applic.companyName  }}</td>
                <td>{{  applic.position }}</td>
                <td>{{  applic.dateApplied  }}</td>
                <td>{{  applic.location }}</td>
                <td><button>View</button></td>
                <td><button>Delete</button></td>
            </tr>
        </ng-container>
    </tbody>
    
</table>


<router-outlet></router-outlet>